<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>StoneDB Frontend Alpha</title>

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="form-group">
            <label class="control-label col-sm-2" for="q">Update record:</label>
                <div class="col-sm-10">
                    <FORM action="{{url}}" method="post">
                        <input type="text" class="form-control"   id="text_title" placeholder="Title" value="{{title}}">
                        <input type="text" class="form-control"   id="text_year"  placeholder="Year" value="{{year}}">
                        <input type="text" class="form-control"   id="text_vid"   placeholder="Venue ID" value="{{vid}}">
                        <button class="btn btn-primary btn-block" id = "btn_sumbit"  type="sumbit">Submit</button>
                    </FORM>
            </div>
        </div>
    </div>
 </div>
</body>
</html>                                		
